# Pandas

![Pandas](./img/pandas.jpg)

Pandas ist ein sehr hilfreiches Python-Paket für die Datenanalyse. Mit ihm kannst du Daten in Python in Tabellen-Form verwenden. 
Pandas bringt zwei neue Datentypen für Python mit:

- Series 
- DataFrame

Um ein Paket zu benutzen, musst du es zuerst importieren:

In [1]:
import pandas as pd # 'as pd' sorgt dafür, dass tu später pd.tue_etwas() schreiben kannst, statt 'pandas.tue_etwas()'

## Series

Eine Series ist eine Tabelle mit einem Index (i) und nur einer Spalte (column).

In [2]:
# Turn a list into a series 
column = [2, 5, 7, 3]
i = ['a', 'b', 'c', 'd']

series_1 = pd.Series(column, index=i)
series_1

a    2
b    5
c    7
d    3
dtype: int64

Series können auch aus Dictionarys gebildet werden und du kannst verschiedene Datentypen in den Werten speichern.

In [3]:
other_column = {'a': 9, 'b': 'eight', 'c': 7.5, 'd': 6}

series_2 = pd.Series(other_column)

## Übung

In [4]:
# Erstelle eine Liste mit drei Obstsorten und einen Index.
list1 = ['apfel', 'birne', 'banane']
index = range(0,3)

In [5]:
# Mach daraus eine Series
series_new = pd.Series(list1, index=index )
series_new

0     apfel
1     birne
2    banane
dtype: object

### Jupyter Tipp:

Wie in der Kommandozeile kannst du die `TAB`-Taste benutzen, um einige Vorschläge zu erhalten. Dies kann dir eine Menge Tipparbeit ersparen.

Das Jupyter-Notizbuch macht es einfacher, etwas zu printen. In reinem Python müsste man print(variable) verwenden, in Jupyter Notebooks schreibt man einfach die Variable, die man ausdrucken möchte, an das Ende der Zelle und sie wird ausgedruckt.

In [6]:
series_new

0     apfel
1     birne
2    banane
dtype: object

## DataFrame

Ein DataFrame ist eine Tabelle, wie du sie kennst, mit einem Index, einer Kopfzeile und Zeilen und Spalten.

In [7]:
brand_new_df = pd.DataFrame([series_1, series_2])
brand_new_df

   a      b    c  d
0  2      5  7.0  3
1  9  eight  7.5  6

In [8]:
df_2 = pd.DataFrame(
)

## Ran an die echten Daten

**[>> zum data Notebook](03_data.ipynb)**