## First data, first plot

In [1]:
## Es ist guter Brauch, dass der ersten Zelle die Importe für alle benötigten Pakete gesammelt werden. 
import pandas as pd

## Dieser Import lädt das Visualisierungspaket  Matplotlib
import matplotlib.pyplot as plt

## .csv einlesen

Schau dir bitte mal die folgende .csv-Datei an: 

[Eheschließungen](./data/eheschliessungen.csv)

In [2]:
# So liest du sie als DataFrame ein
df = pd.read_csv('./data/eheschliessungen.csv')

## DataFrame anschauen

In [3]:
# Standardmäßig werden nur einige Zeilen oben und unten gezeigt, das hält die Notebook übersichtlicher
df

    Zeit  Anzahl_Eheschliessungen_je_1000_Einwohner
0   1950                                       11.0
1   1951                                       10.4
2   1952                                        9.5
3   1953                                        8.9
4   1954                                        8.7
..   ...                                        ...
65  2015                                        4.9
66  2016                                        5.0
67  2017                                        4.9
68  2018                                        5.4
69  2019                                        5.0

[70 rows x 2 columns]

In [4]:
# Wenn du nur die ersten 5 Zeilen sehen möchtest
df.head()

   Zeit  Anzahl_Eheschliessungen_je_1000_Einwohner
0  1950                                       11.0
1  1951                                       10.4
2  1952                                        9.5
3  1953                                        8.9
4  1954                                        8.7

In [5]:
# Wenn du die letzten 5 Zeilen sehen möchtest
df.tail()

    Zeit  Anzahl_Eheschliessungen_je_1000_Einwohner
65  2015                                        4.9
66  2016                                        5.0
67  2017                                        4.9
68  2018                                        5.4
69  2019                                        5.0

In [6]:
# Wenn du nur eine zufällige Zeile sehen möchtest
df.sample()

    Zeit  Anzahl_Eheschliessungen_je_1000_Einwohner
30  1980                                        6.3

In [7]:
# Wenn Du zehn zufällige Zeilen sehen möchtest:
df.sample(10)

    Zeit  Anzahl_Eheschliessungen_je_1000_Einwohner
9   1959                                        9.2
31  1981                                        6.2
58  2008                                        4.6
24  1974                                        6.5
34  1984                                        6.4
20  1970                                        7.4
8   1958                                        9.1
38  1988                                        6.8
69  2019                                        5.0
3   1953                                        8.9

In [8]:
# Wie groß ist der Datensatz?
df.info()
# Der Datensatz enthält zwei Spalten, mit 70 Einträgen. Die Datentypen sind 'int' und 'float'.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 2 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Zeit                                       70 non-null     int64
 1   Anzahl_Eheschliessungen_je_1000_Einwohner  70 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.2 KB

In [9]:
## Das hier sorgt dafür, dass mehr Zeilen eines DataFrames angezeigt werden
pd.options.display.max_rows = 999

In [10]:
df

    Zeit  Anzahl_Eheschliessungen_je_1000_Einwohner
0   1950                                       11.0
1   1951                                       10.4
2   1952                                        9.5
3   1953                                        8.9
4   1954                                        8.7
5   1955                                        8.8
6   1956                                        8.9
7   1957                                        8.9
8   1958                                        9.1
9   1959                                        9.2
10  1960                                        9.5
11  1961                                        9.5
12  1962                                        9.4
13  1963                                        8.8
14  1964                                        8.5
15  1965                                        8.2
16  1966                                        8.0
17  1967                                        7.9
18  1968                                        7.3
19  1969                                        7.4
20  1970                                        7.4
21  1971                                        7.2
22  1972                                        7.0
23  1973                                        6.7
24  1974                                        6.5
25  1975                                        6.7
26  1976                                        6.5
27  1977                                        6.5
28  1978                                        6.0
29  1979                                        6.2
30  1980                                        6.3
31  1981                                        6.2
32  1982                                        6.2
33  1983                                        6.3
34  1984                                        6.4
35  1985                                        6.4
36  1986                                        6.6
37  1987                                        6.7
38  1988                                        6.8
39  1989                                        6.7
40  1990                                        6.5
41  1991                                        5.7
42  1992                                        5.6
43  1993                                        5.5
44  1994                                        5.4
45  1995                                        5.3
46  1996                                        5.2
47  1997                                        5.2
48  1998                                        5.1
49  1999                                        5.2
50  2000                                        5.1
51  2001                                        4.7
52  2002                                        4.8
53  2003                                        4.6
54  2004                                        4.8
55  2005                                        4.7
56  2006                                        4.5
57  2007                                        4.5
58  2008                                        4.6
59  2009                                        4.6
60  2010                                        4.7
61  2011                                        4.7
62  2012                                        4.8
63  2013                                        4.6
64  2014                                        4.8
65  2015                                        4.9
66  2016                                        5.0
67  2017                                        4.9
68  2018                                        5.4
69  2019                                        5.0

## Linechart

In [ ]:
# Um die Entwicklung der Eheschließungen über die Zeit anzuzeigen, müssen wir Zeit als index setzen. 
df = df.set_index('Zeit')

In [ ]:
# So sieht das dann aus
df.head(2)

In [ ]:
# Mit diesem Befehl wird ein Linechart daraus erzeugt
df.plot()

## Bar Chart

In [ ]:
df.plot(kind='bar', )

In [ ]:
df.plot(kind='bar', figsize=(20,10))

## Visualisierung in Datawrapper

Ein Visualisierungstool, das im WDR verwendet wird, ist **Datawrapper**

In [ ]:
# Kopiere deine Daten in die Zwischenablage

df.to_clipboard()

Klicke dann auf den Link und erzeuge mit **START CREATING** deine erste Visualisierung in Datawrapper:

**[>> Datawrapper](https://www.datawrapper.de/)**

Das Ergebnis kann zum Beispiel so aussehen: 

![Datawrapper](./img/datawrapper.png)
    
**[>> Beispiel-Chart online](//www.datawrapper.de/_/qPpQ5/)**

## .csv ausgeben

In [ ]:
# Du kannst die .csv auch abspeichern
df.to_csv('./data/bearb_eheschliessungen.csv')

## Übung

In [ ]:
# Lade die Datei habil.csv als Dataframe ein
habil = pd.read_csv('./data/habil.csv')

In [ ]:
# Lass dir die ersten 2 Zeilen ausgeben 
habil.head(2)

In [ ]:
# Lass dir den gesamten DataFrame anzeigen
habil

In [ ]:
# Setze 'Zeit' als Index
habil = habil.set_index('Zeit')

In [ ]:
# Lass den DataFrame als Linechart zeichnen
habil.plot()

In [ ]:
# Lass den DataFrame als Barchart zeichnen
habil.plot(kind='bar', figsize=(15,10))

In [ ]:
## Speichere den Datensatz als meine_habil.csv ab
habil.to_csv('meine_habil.csv')