# Datensätze miteinander verbinden

In [1]:
import pandas as pd

Schauen wir uns einen Ausschnitt aus einer Umfrage bei allen Schulleiter*innen in NRW an, die gerade im WDR durchgeführt wird.

In [2]:
df = pd.read_csv('./data/umfrage_schulleiter.csv')

In [3]:
df

           Ort             schulform anzahl_schueler  F1_ausstattung
0       Aachen          Privatschule             178             3.0
1       Aachen             Gymnasium             NaN             4.0
2       Aachen             Gymnasium            1250             3.0
3       Aachen            Realschule             640             5.0
4       Aachen           Grundschule             195             4.0
..         ...                   ...             ...             ...
768  Wuppertal          Förderschule             203             4.0
769   Würselen           Grundschule             209             5.0
770   Würselen  Weiterbildungskolleg             310             4.0
771     Xanten          Berufskolleg             365             2.0
772    Zülpich           Grundschule             128             5.0

[773 rows x 4 columns]

## Wo vergeben Schulleiter*innen in NRW die besten Noten für die technische Ausstattung an ihrer Schule?
Unter f1_ausstattung haben die Schulleiter*innen Schulnoten für die Ausstattung ihrer Schule vergeben.
Im Datensatz gibt es nur die Spalte 'Ort', die einen Gemeindenamen enthält. 
Um die Daten nach Region analysieren und auch später visualisieren zu können, wäre es hilfreich, weitere Angaben wie den AGS, Regierungsbezirk etc. zu haben.

### Allgemeine NRW-Daten einladen

In [4]:
# Laden der generellen Daten zu den NRW-Gemeinden 
city_data = pd.read_json('./data/nrw_data.json', orient='columns', dtype={'keyCity': 'str'})

In [5]:
city_data.sample()

,city,type,keyCity,state,studioRadio,studio,region,district
109,Gevelsberg,Stadt,5954012,Nordrhein-Westfalen,Essen,Dortmund,Ruhrgebiet,Ennepe-Ruhr-Kreis

KeyCity enthält in diesem Fall den AGS ohne führende Null.

Wir wollen aus dem AGS die Regierungsbezirke-Namen ablesen, dafür erzeigen wir eine neue Spalte 'regierungsbezirk', die die erste Stelle aus dem AGS enthält.

In [6]:
city_data['regierungsbezirk'] = city_data.keyCity.str[1:2]

In [7]:
city_data.sample()

,city,type,keyCity,state,studioRadio,studio,region,district,regierungsbezirk
62,Coesfeld,Stadt,5558012,Nordrhein-Westfalen,Münster,Münster,Westfalen,Coesfeld,5

In [8]:
city_data['regierungsbezirk'] = city_data.regierungsbezirk.str.replace('1', 'Düsseldorf')
city_data['regierungsbezirk'] = city_data.regierungsbezirk.str.replace('3', 'Köln')
city_data['regierungsbezirk'] = city_data.regierungsbezirk.str.replace('5', 'Münster')
city_data['regierungsbezirk'] = city_data.regierungsbezirk.str.replace('7', 'Detmold')
city_data['regierungsbezirk'] = city_data.regierungsbezirk.str.replace('9', 'Arnsberg')

In [9]:
city_data.regierungsbezirk.value_counts()

Köln          99
Arnsberg      83
Münster       78
Detmold       70
Düsseldorf    66
Name: regierungsbezirk, dtype: int64

### Datensätze verbinden

In [10]:
# Um die Datensätze zu verbinden, setzen wir in beiden Fällen den Index auf die Ort-Spalte
df = df.set_index('Ort')

In [11]:
df.sample()

          schulform anzahl_schueler  F1_ausstattung
Ort
Dortmund  Gymnasium             992             2.0

In [12]:
city_data = city_data.set_index('city')

In [13]:
city_data.sample()

,type,keyCity,state,studioRadio,studio,region,district,regierungsbezirk
city,,,,,,,,
Selm,Stadt,5978032,Nordrhein-Westfalen,Dortmund,Dortmund,Ruhrgebiet,Unna,Arnsberg

In [14]:
# Um zu kontrollieren, dass keine Spalten verloren gehen, überprüfen wir die Länge der beiden Datensätze
len(df), len(city_data)

(773, 396)

In [15]:
# Join verbindet beide Datensätze anhand des index
df = df.join(city_data)

In [16]:
len(df)

773

In [19]:
df.sample(10)

,schulform,anzahl_schueler,F1_ausstattung,type,keyCity,state,studioRadio,studio,region,district,regierungsbezirk
Köln,Berufskolleg,3000,5.0,Stadt,5315000,Nordrhein-Westfalen,Köln,Köln,Rheinland,Köln,Köln
Bochum,Grundschule,197,4.0,Stadt,5911000,Nordrhein-Westfalen,Essen,Essen,Ruhrgebiet,Bochum,Arnsberg
Bonn,Sonstiges,99,3.0,Stadt,5314000,Nordrhein-Westfalen,Köln,Bonn,Rheinland,Bonn,Köln
Bad,Grundschule,109,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hürth,Gesamtschule,800,3.0,Stadt,5362028,Nordrhein-Westfalen,Köln,Köln,Rheinland,Rhein-Erft-Kreis,Köln
Waltrop,Gesamtschule,966,4.0,Stadt,5562036,Nordrhein-Westfalen,Dortmund,Dortmund,Ruhrgebiet,Recklinghausen,Münster
Ratingen,Gymnasium,750,3.0,Stadt,5158028,Nordrhein-Westfalen,Düsseldorf,Düsseldorf,Rheinland,Mettmann,Düsseldorf
Bochum,Gesamtschule,1400,4.0,Stadt,5911000,Nordrhein-Westfalen,Essen,Essen,Ruhrgebiet,Bochum,Arnsberg
Wipperfürth,Gymnasium,523,3.0,Stadt,5374052,Nordrhein-Westfalen,Wuppertal,Köln,Rheinland,Oberbergischer Kreis,Köln
Remscheid,Gymnasium,786,2.0,Stadt,5120000,Nordrhein-Westfalen,Wuppertal,Wuppertal,Rheinland,Remscheid,Düsseldorf

#### Tipp: 

Es gibt noch weitere Arten, Datensätze miteinander zu verknüpfen, einen ersten Überblick findest du hier:
        [Chris Albon: Join And Merge Pandas Dataframe](https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/)

### Wie bewerten Sie die digitale Ausstattung Ihrer Schule zurzeit?

In [18]:
# Gibt es Schulen, die diese Frage nicht beantwortet haben
df.F1_ausstattung.value_counts(dropna=False)

3.0    185
5.0    177
2.0    159
4.0    152
6.0     58
1.0     32
NaN     10
Name: F1_ausstattung, dtype: int64

In [19]:
df[df.F1_ausstattung.isna()]

,schulform,anzahl_schueler,F1_ausstattung,type,keyCity,state,studioRadio,studio,region,district,regierungsbezirk
Ahaus,Gesamtschule,1214,NaN,Stadt,5554004,Nordrhein-Westfalen,Münster,Münster,Westfalen,Borken,Münster
Bielefeld,Grundschule,NaN,NaN,Stadt,5711000,Nordrhein-Westfalen,Bielefeld,Bielefeld,Westfalen,Bielefeld,Detmold
Bocholt,Berufskolleg,378,NaN,Stadt,5554008,Nordrhein-Westfalen,Münster,Münster,Westfalen,Borken,Münster
Düsseldorf,NaN,NaN,NaN,Stadt,5111000,Nordrhein-Westfalen,Düsseldorf,Düsseldorf,Rheinland,Düsseldorf,Düsseldorf
Gelsenkirchen,NaN,NaN,NaN,Stadt,5513000,Nordrhein-Westfalen,Essen,Essen,Ruhrgebiet,Gelsenkirchen,Münster
Herne,Grundschule,NaN,NaN,Stadt,5916000,Nordrhein-Westfalen,Essen,Essen,Ruhrgebiet,Herne,Arnsberg
Köln,Förderschule,164,NaN,Stadt,5315000,Nordrhein-Westfalen,Köln,Köln,Rheinland,Köln,Köln
Mettmann,Grundschule,260,NaN,Stadt,5158024,Nordrhein-Westfalen,Wuppertal,Düsseldorf,Rheinland,Mettmann,Düsseldorf
Windeck,Gymnasium,650,NaN,Gemeinde,5382076,Nordrhein-Westfalen,Köln,Bonn,Rheinland,Rhein-Sieg-Kreis,Köln
Windeck,Grundschule,103,NaN,Gemeinde,5382076,Nordrhein-Westfalen,Köln,Bonn,Rheinland,Rhein-Sieg-Kreis,Köln

## Durchschnitt aller Schulen

In [20]:
# Pandas hat eine eigene Funktion, um Durchschnoittswerte zu bilden
df.F1_ausstattung.mean()

3.5989515072083877

### Zufriedenheit nach Regierungsbezirken

In [20]:
# Um zu ermitteln, in welchem Regierungsbezirk die Schulleiter*innen am zufriedensten sind, nutzen wir group_by: 
df.groupby('regierungsbezirk').mean()

                  F1_ausstattung
regierungsbezirk
Arnsberg                3.765823
Detmold                 3.381443
Düsseldorf              3.676647
Köln                    3.601093
Münster                 3.407407

### Übung

Schreibe die jeweilige group_by - Funktion

In [21]:
# Zufriedenheit nach Stadt / Land (type)
df.groupby('type').mean()

          F1_ausstattung
type
Gemeinde        3.196721
Stadt           3.633436

In [22]:
# Zufriedenheit nach Regionen
df.groupby('region').mean()

            F1_ausstattung
region
Rheinland         3.609231
Ruhrgebiet        3.896970
Westfalen         3.354260

In [23]:
# Zufriedenheit nach Landkreisen
df.groupby('district').mean().sort_values(by='F1_ausstattung', ascending=False)

                            F1_ausstattung
district
Krefeld                           5.000000
Hagen                             4.857143
Bochum                            4.681818
Leverkusen                        4.500000
Essen                             4.500000
Hamm                              4.333333
Mönchengladbach                   4.153846
Bonn                              4.142857
Märkischer Kreis                  4.000000
Oberhausen                        4.000000
Recklinghausen                    4.000000
Bottrop                           4.000000
Rhein-Erft-Kreis                  3.954545
Viersen                           3.933333
Heinsberg                         3.916667
Mettmann                          3.904762
Städteregion Aachen               3.900000
Düren                             3.833333
Hochsauerlandkreis                3.800000
Olpe                              3.750000
Wuppertal                         3.727273
Bielefeld                         3.714286
Ennepe-Ruhr-Kreis                 3.687500
Herne                             3.666667
Rhein-Kreis Neuss                 3.666667
Warendorf                         3.615385
Gütersloh                         3.600000
Rhein-Sieg-Kreis                  3.555556
Gelsenkirchen                     3.538462
Dortmund                          3.529412
Solingen                          3.500000
Remscheid                         3.500000
Minden-Lübbecke                   3.500000
Duisburg                          3.400000
Unna                              3.370370
Euskirchen                        3.333333
Köln                              3.327869
Wesel                             3.250000
Rheinisch-Bergischer Kreis        3.250000
Lippe                             3.222222
Münster                           3.222222
Soest                             3.214286
Steinfurt                         3.200000
Kleve                             3.133333
Borken                            3.111111
Paderborn                         3.083333
Herford                           3.083333
Höxter                            3.000000
Siegen-Wittgenstein               3.000000
Oberbergischer Kreis              2.916667
Düsseldorf                        2.785714
Coesfeld                          2.533333

### Übung

In [24]:
# Nach Schulform
df.groupby('schulform').mean().sort_values(by='F1_ausstattung', ascending=False)

                      F1_ausstattung
schulform
PRIMUS-Schule               5.000000
Hauptschule                 4.130435
Grundschule                 4.009174
Förderschule                3.672414
Sonstiges                   3.600000
Realschule                  3.393443
Sekundarschule              3.350000
Gesamtschule                3.278481
Weiterbildungskolleg        3.142857
Gymnasium                   3.037383
Berufskolleg                3.015873
Privatschule                2.000000

Wo gibt es aus deiner Sicht die spannendsten Ergebnisse?

### Übung

Wie findest Du heraus, wie viele Schulen eine 1 bzw. eine 6 vergeben haben?

In [28]:
# Wieviele Schulen sind super zufrieden (1.0)
len(df[df.F1_ausstattung == 1.0])

32

In [29]:
# Wieviele Schulen sind super unzufrieden (6.0)
len(df[df.F1_ausstattung == 6.0])

58