## Eheschließungen

In [1]:
import pandas as pd

pd.options.display.max_rows = 999

In [2]:
df = pd.read_csv('./data/12611-0001_flat.csv', encoding='latin-1', sep=';', decimal=',')

In [3]:
df.sample()

,Statistik_Code,Statistik_Label,Zeit_Code,Zeit_Label,Zeit,1_Merkmal_Code,1_Merkmal_Label,1_Auspraegung_Code,1_Auspraegung_Label,BEV003__Eheschliessungen__Anzahl,BEV075__Eheschliessungen_je_1000_Einwohner__Anzahl
65,12611,Statistik der Eheschließungen,JAHR,Jahr,2015,DINSG,Deutschland insgesamt,DG,Deutschland,400115,4.9

In [4]:
df.columns

Index(['Statistik_Code', 'Statistik_Label', 'Zeit_Code', 'Zeit_Label', 'Zeit',
       '1_Merkmal_Code', '1_Merkmal_Label', '1_Auspraegung_Code',
       '1_Auspraegung_Label', 'BEV003__Eheschliessungen__Anzahl',
       'BEV075__Eheschliessungen_je_1000_Einwohner__Anzahl'],
      dtype='object')

In [5]:
df = df[['Zeit', 'BEV075__Eheschliessungen_je_1000_Einwohner__Anzahl']]

In [6]:
df = df.rename(columns={'BEV075__Eheschliessungen_je_1000_Einwohner__Anzahl': 'Anzahl_Eheschliessungen_je_1000_Einwohner'})

In [7]:
df = df.set_index('Zeit')

In [8]:
df.head()

      Anzahl_Eheschliessungen_je_1000_Einwohner
Zeit
1950                                       11.0
1951                                       10.4
1952                                        9.5
1953                                        8.9
1954                                        8.7

In [9]:
df.to_csv('./data/eheschliessungen.csv', index='Zeit')

## Habil

In [62]:
df = pd.read_csv('./data/21351-0002_flat.csv', encoding='latin-1', sep=';', decimal=',' )

In [63]:
df.head()

,Statistik_Code,Statistik_Label,Zeit_Code,Zeit_Label,Zeit,1_Merkmal_Code,1_Merkmal_Label,1_Auspraegung_Code,1_Auspraegung_Label,2_Merkmal_Code,2_Merkmal_Label,2_Auspraegung_Code,2_Auspraegung_Label,3_Merkmal_Code,3_Merkmal_Label,3_Auspraegung_Code,3_Auspraegung_Label,BIL051__Durchschnittsalter_der_habilitierten_Personen__Jahre
0,21351,Statistik der Habilitationen,JAHR,Jahr,2010,DINSG,Deutschland insgesamt,DG,Deutschland,BILFG1,Fächergruppen,FACHGR-SKW,Geisteswissenschaften,GES,Geschlecht,GESM,männlich,"42,9"
1,21351,Statistik der Habilitationen,JAHR,Jahr,2010,DINSG,Deutschland insgesamt,DG,Deutschland,BILFG1,Fächergruppen,FACHGR-SKW,Geisteswissenschaften,GES,Geschlecht,GESW,weiblich,"41,6"
2,21351,Statistik der Habilitationen,JAHR,Jahr,2010,DINSG,Deutschland insgesamt,DG,Deutschland,BILFG1,Fächergruppen,FACHGR-SKW,Geisteswissenschaften,GES,Geschlecht,NaN,Insgesamt,"42,4"
3,21351,Statistik der Habilitationen,JAHR,Jahr,2010,DINSG,Deutschland insgesamt,DG,Deutschland,BILFG1,Fächergruppen,FACHGR-SPR,Sport,GES,Geschlecht,GESM,männlich,"41,5"
4,21351,Statistik der Habilitationen,JAHR,Jahr,2010,DINSG,Deutschland insgesamt,DG,Deutschland,BILFG1,Fächergruppen,FACHGR-SPR,Sport,GES,Geschlecht,GESW,weiblich,"39,3"

In [64]:
df = df[(df["2_Auspraegung_Label"] == 'Geisteswissenschaften') & (df["3_Auspraegung_Label"] == 'Insgesamt') ]

In [65]:
df.columns

Index(['Statistik_Code', 'Statistik_Label', 'Zeit_Code', 'Zeit_Label', 'Zeit',
       '1_Merkmal_Code', '1_Merkmal_Label', '1_Auspraegung_Code',
       '1_Auspraegung_Label', '2_Merkmal_Code', '2_Merkmal_Label',
       '2_Auspraegung_Code', '2_Auspraegung_Label', '3_Merkmal_Code',
       '3_Merkmal_Label', '3_Auspraegung_Code', '3_Auspraegung_Label',
       'BIL051__Durchschnittsalter_der_habilitierten_Personen__Jahre'],
      dtype='object')

In [66]:
df = df[['Zeit', 'BIL051__Durchschnittsalter_der_habilitierten_Personen__Jahre']]

In [67]:
df = df.rename(columns={'BIL051__Durchschnittsalter_der_habilitierten_Personen__Jahre': 'Durchschnittsalter_der_habilitierten_Personen__Jahre'})

In [68]:
df = df.reset_index()

In [69]:
df

   index  Zeit Durchschnittsalter_der_habilitierten_Personen__Jahre
0      2  2010                                               42,4
1     35  2011                                               42,7
2     68  2012                                               42,1
3    101  2013                                               42,5
4    134  2014                                               42,3
5    167  2015                                               43,5
6    200  2016                                               43,7
7    233  2017                                               43,4
8    266  2018                                               43,6
9    299  2019                                               43,7

In [70]:
df.columns

Index(['index', 'Zeit',
       'Durchschnittsalter_der_habilitierten_Personen__Jahre'],
      dtype='object')

In [71]:
df = df[['Zeit','Durchschnittsalter_der_habilitierten_Personen__Jahre']]

In [72]:
df = df.set_index('Zeit')

In [73]:
df.Durchschnittsalter_der_habilitierten_Personen__Jahre = df.Durchschnittsalter_der_habilitierten_Personen__Jahre.str.replace(',', '.').astype('float')

In [74]:
df

      Durchschnittsalter_der_habilitierten_Personen__Jahre
Zeit
2010                                               42.4
2011                                               42.7
2012                                               42.1
2013                                               42.5
2014                                               42.3
2015                                               43.5
2016                                               43.7
2017                                               43.4
2018                                               43.6
2019                                               43.7

In [75]:
df.to_csv('./data/habil.csv', index='Zeit')

In [61]:
df

      Durchschnittsalter_der_habilitierten_Personen__Jahre
Zeit
2010                                               42.4
2011                                               42.7
2012                                               42.1
2013                                               42.5
2014                                               42.3
2015                                               43.5
2016                                               43.7
2017                                               43.4
2018                                               43.6
2019                                               43.7